@supports (font-size: 1cqi) {
  :is(.fluid-type) {
    font-size: clamp(
      max(1rem, var(--font-size) - var(--font-size) * var(--font-size-diff, 0.3)),
      var(--font-size-fluid, 5cqi),
      var(--font-size)
    );
  }
}

:focus-visible {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}